<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      /* Bonus: Styles for text and borders */
      .font-green { color: green; }
      .font-red { color: red; }
      .border-green { border: 2px solid green !important; }
      .border-red { border: 2px solid red !important; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         
         <p><em>Note: Empty items (e.g., "item1, ,item3") are NOT counted towards the total.</em></p>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="dishes"
             ng-class="borderColor">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="fontColor">
           {{message}}
         </div>
   </div>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>